:root {
  --cor-magenta: hsl(300, 43%, 22%);
  --cor-rosa: hsl(333, 80%, 67%);
  --cor-magenta-cinzento: hsl(303, 10%, 53%);
  --cor-magenta-cinzento-clara: hsl(300, 24%, 96%);
}

.app {
  background-image: url(../img/bg-pattern-top-desktop.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  grid-template-areas: "conteudo";
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.conteudo {
  background-image: url(../img/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 70%;
  grid-area: conteudo;
  padding: 0 2rem;
}
